<!DOCTYPE html>
<html lang="es" xmlns.th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista de libros</title>
</head>
<body>
<h1>Lista de libros </h1>
<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>Título</th>
        <th>Editorial</th>
        <th>Páginas</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="libro : ${libros}">
        <td th:text="${libro.id}"></td>
        <td th:text="${libro.titulo}"></td>
        <td th:text="${libro.editorial}"></td>
        <td th:text="${libro.paginas}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>
